<ion-content padding>
  <div class="progress-bar">
    <div class="progress-bar__section is-active"></div>
    <div class="progress-bar__section is-active"></div>
    <div class="progress-bar__section"></div>
  </div>

  <div class="header">
    <h1 class="header__title">Describa el escenario</h1>
  </div>

  <!-- if accident -->
  <ion-list *ngIf="tipoIncidente === 'accident'" no-lines id="type">
    <ion-item>
      <ion-label>Persona/s atrapados/as</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.atrapados"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Persona/s heridos/as</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.heridos"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Hay niños</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.ninhos"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>El autor del hecho escapó</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.autor"></ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- if theft -->
  <ion-list *ngIf="tipoIncidente === 'theft'" no-lines id="type">
    <ion-item>
      <ion-label>Persona/s atrapados/as</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.atrapados"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Persona/s heridos/as</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.heridos"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Hay niños</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.ninhos"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>El autor del hecho escapó</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.autor"></ion-checkbox>
    </ion-item>
  </ion-list>


  <!-- if fire -->
  <ion-list *ngIf="tipoIncidente === 'fire'" no-lines id="type">
    <ion-item>
      <ion-label>Persona/s atrapados/as</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.atrapados"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Persona/s heridos/as</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.heridos"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Hay niños</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.ninhos"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>El autor del hecho escapó</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.autor"></ion-checkbox>
    </ion-item>
  </ion-list>


  <!-- if health emergency -->
  <ion-list *ngIf="tipoIncidente === 'health'" no-lines id="type">
    <ion-item>
      <ion-label>Persona/s atrapados/as</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.atrapados"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Persona/s heridos/as</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.heridos"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Hay niños</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.ninhos"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>El autor del hecho escapó</ion-label>
      <ion-checkbox [(ngModel)]="detalleTipo.autor"></ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- go to next page -->
  <ion-fab right bottom (click)="goToNextPage(gravedadIncidente)">
    <button ion-fab color="detail">
      <ion-icon name="ios-arrow-round-forward"></ion-icon>
    </button>
  </ion-fab>

  <!-- go back -->
  <btn-back></btn-back>
</ion-content>
