<ion-header>
    <ion-navbar>
        <ion-title>
            Agrega mas detalles
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h4>Resumen de denuncia</h4>
    <p><b>Tipo de incidente</b></p>
    <div *ngIf="incidente?.tipo_incidente == 1;then content1"></div>
    <ng-template #content1>
        <p>Accidente de tránsito </p>
    </ng-template>
    <div *ngIf="incidente?.tipo_incidente == 2;then content2"></div>
    <ng-template #content2>
        <p>Violencia</p>
    </ng-template>
    <div *ngIf="incidente?.tipo_incidente == 3;then content3"></div>
    <ng-template #content3>
        <p>Incendio</p>
    </ng-template>
    <div *ngIf="incidente?.tipo_incidente == 4;then content4"></div>
    <ng-template #content4>
        <p>Emergencia médica</p>
    </ng-template>
    <div *ngIf="incidente?.tipo_incidente == 5;then content5"></div>
    <ng-template #content5>
        <p>Sustracción de pertenencia</p>
    </ng-template>
    <div *ngIf="incidente?.tipo_incidente == 6;then content6"></div>
    <ng-template #content6>
        <p>Incidente ambiental</p>
    </ng-template>
    <p><u>Descripcion</u></p>
    <div innerHTML="{{incidente?.descripcion}}"></div>
    <br/>
    <hr />
    <button ion-button (click)="takePhoto()" full color="primary">Tomar foto</button>
    <p align="center"><img src="{{ myphoto }}"></p>
    <ion-item>
        <ion-label color="primary" fixed>Comentario</ion-label>
        <ion-input type="text" [(ngModel)]="comentario"></ion-input>
    </ion-item>
    <br/>
    <button ion-button (click)="uploadImage()" full color="dark">Actualizar incidente</button>

</ion-content>