<ion-header>
    <ion-navbar>
        <ion-title>
            Denuncias realizadas
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list inset>
        <div class="text-center">
            <h3>{{ mensa }}</h3>
        </div>
        <ion-item *ngFor="let denuncia of denuncias">
            <b>Denuncia tipo</b>
            <h2>{{denuncia.tipo_incidente}}</h2>
            <br/>
            <p><u>Numero de denuncia</u></p>
            <p>{{denuncia.id}}</p>
            <br/>
            <p><u>Descripcion</u></p>
            <li *ngFor="let item of denuncia.descripcion; let i = index">
                {{item}}
            </li>
            <p><u>Imagen</u></p>
            <div *ngIf="denuncia.imagen;then content else other"></div>
            <ng-template #content>
                <p><img src="http://incidentespy.info/core/uploads/images/{{denuncia.imagen}}"></p>
            </ng-template>
            <ng-template #other>
                <p><img src="http://incidentespy.info/core/uploads/no_image.png"></p>
            </ng-template>
            <br/>
            <div *ngIf="denuncia.comentario;then content"></div>
            <ng-template #content>
                <p><u>Comentario</u></p>
                <p>{{denuncia.comentario}}"></p>
            </ng-template>
            <br/>
            <p><u>Fecha de denuncia</u></p>
            <p>{{denuncia.creacion}}</p>
            <br/>
        </ion-item>
    </ion-list>
</ion-content>